<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel='icon' href="{{url_for('static', filename='melogo.jpg')}}">
</head>
<body>
  <div class="sticky">
    <img src="static/melogo.jpg" style="height: 100px; width: 100px;" align="left" vspace="5" hspace="5">
    <h1> TOOL</h1>


  </div>
  <ul class="headbar">
    <li><a href="/">Home</a></li>
    <li><a href="/signup">Create New Account</a></li>
    {% if signedin %}
      <li><a href="/logout">Logout</a></li>
    {% else %}
      <li><a href="/login">Login</a></li>
    {% endif %}
  </ul>
  {% if signedin %}
    <p><br/>Signed in as {{name}} -> {{type}} Account</p>
    <div class="centerthis">
    <p class="press"><a href="/viewprofile/">View Profiles</a></p>
    <p class="press"><a href="/editprofile">Edit Profile</a></p>
    {% if type=="Customer" %}
      <p class="press"><a href="/buy">Buy Items</a></p>
    {% elif type=="Seller" %}
      <p class="press"><a href="/sell">Sell Items</a></p>
    {% endif %}
    <p class="press"><a href="/changepassword">Change Password</a></p>
    </div>
  {% else %}
    <p><br/>You are not currently signed in. Sign in to view Products/Profiles.</p>
  {% endif %}
  </div>


    <div id="footer">
   <div>
      <a href="https://www.instagram.com/thomsofficiel__/" target="_blank"> <img src="static/logoints.png" style = "width: 50px; height: 50px;"> </a>
      <a href="https://www.tiktok.com/@thomsofficiel__/video/7161121674522397958?is_copy_url=1&is_from_webapp=v1" target="_blank"> <img src="static/tiktok.png" style = "width: 50px; height: 50px; margin-left: 20px;"></a>
       &copy; TOOL
   </div>
  </div>

</body>
</html>